@use 'styles/variables' as *;

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    animation: spin 0.8s linear infinite;
  }

  circle {
    stroke: $color-primary;
    stroke-linecap: round;
    stroke-dasharray: 80, 200;
    stroke-dashoffset: 0;
  }

  &--sm svg {
    width: 20px;
    height: 20px;
  }

  &--md svg {
    width: 32px;
    height: 32px;
  }

  &--lg svg {
    width: 48px;
    height: 48px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
